// <SELECT>
// Снипет (HTML): sel
.select {
	position: relative;
	// .tabs-filter__select-title
	&__select-title {
		font-family: $fontFamilyGilroy;
		font-weight: 400;
		font-size: 13px;
		line-height: math.div(20, 13);
		color: $color_grey;
		margin: 1px 12px 0px 0px;
		@media (max-width: $mobile) {
			font-size: 12px;
			line-height: math.div(18, 12);
			margin: 0px 0px 5px 0px;
		}
	}
	// .select__body
	&__body {
		position: relative;
		min-width: 156px;
		@media (max-width: $mobile) {
			min-width: auto;
		}
	}
	// .select__title
	&__title {
		display: flex;
		color: inherit;
		text-align: left;
		background-color: transparent;
		cursor: pointer;
		width: 100%;
		font-weight: 400;
		font-size: 14px;
		line-height: math.div(21, 14);
		letter-spacing: 0.03em;
		text-transform: uppercase;
		@media (max-width: $mobile) {
			font-size: 13px;
			line-height: math.div(20, 13);
		}
		@media (max-width: 375px) {
			font-size: 12px;
			line-height: math.div(17, 12);
		}
	}
	// .select__content
	&__content {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		align-items: center;
		position: relative;
		white-space: nowrap;
		z-index: 2;
		width: 100%;
		&::before {
			width: 24px;
			height: 24px;
			font-weight: 700;
			font-size: 10px;
			transform: rotate(90deg);
			margin: 0px 0px 0px 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease 0s;
		}
		@media (max-width: $mobile) {
			&::before {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	// .select__value
	&__value {
		display: flex;
		align-items: center;
		min-height: 24px;
		> * {
			flex: 1 1 auto;
		}
		@media (max-width: $mobile) {
			min-height: 20px;
		}
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
	}
	&__input {
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		color: $mainColor;
		position: absolute;
		z-index: 5;
		top: 24px;
		min-width: 100%;
		left: -10px;
		background-color: #fafafa;
		border-top: 0;
		border-top: 0;
		padding: 5px 10px 5px 10px;
		margin: -2px 0px;
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальная высота
		max-height: 200px;
		// Стили скроллбара
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		font-weight: 400;
		font-size: 12px;
		line-height: math.div(17, 12);
		background-color: #fafafa;
		color: inherit;
		padding: 2px 0px;
		transition: all 0.3s ease 0s;
		&._select-selected {
			background-color: #eee;
		}
		&:hover {
			color: $color_blue;
		}
	}
	// Состояния селекта
	&._select-open {
		z-index: 5;
		.select__content {
			&::before {
				transform: rotate(-90deg);
			}
		}
	}
}
