@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Activist", sans-serif;
$fontFamilyGilroy: "Gilroy", sans-serif;
$fontFamilyInter: "Inter", sans-serif;
$fontSize: rem(14); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #0c0e14; // Цвет шрифта по умолчанию
$color_grey: #737373;
$color_white: #ffffff;
$color_grey_light: #fafafa;
$color_blue: #1eb9c7;
$color_blue_2: #41a7b0;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1432;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Брейк-поинты
$pc: 1462px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
		padding: 50px 0px 0px 0px;
		@media (max-width: $tablet) {
			padding: 140px 0px 0px 0px;
		}
		@media (max-width: $mobile) {
			padding: 98px 0px 0px 0px;
		}
		@media (max-width: 390px) {
			padding: 88px 0px 0px 0px;
		}
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

.common .page {
	padding: 60px 0px 0px 0px;
	@media (max-width: $tablet) {
		padding: 160px 0px 0px 0px;
	}
	@media (max-width: $mobile) {
		padding: 108px 0px 0px 0px;
	}
	@media (max-width: 390px) {
		padding: 104px 0px 0px 0px;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
@if ($responsiveType==1) {
	// Отзывчивая
	[class*="__container"] {
		@if (1432px > 0) {
			max-width: 1432px;
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 15px;
		}
	}
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";
@import "about";
@import "catalog";
@import "filter";
@import "product-card";
@import "checkout";
@import "contacts";
@import "privacy-policy";
@import "404";
